*{
    padding: 0;
    margin: 0;
}

.logo{
    background-color: rgb(73, 47, 14);
    color: #f9f9f9;
}

.content{
    margin-top: 20px;
}

.content img{
    border-radius: 30px;
    padding-left: 10px;
}